.frame
  .frame.frame-type-1
    .table-box.clearfix
      .table-box__sub.float-left
        = image_tag "#{comment.user.try(:image).url || "/assets/noimg_140_140.png" }", id: "comment_icon"
        - if comment.rate == 3
          %img.rating{ :src => asset_path("comment/retty_love.png") }
        - elsif comment.rate == 2
          %img.rating{ :src => asset_path("comment/retty_smile.png") }
        - else
          %img.rating{ :src => asset_path("comment/retty_sad.png") }
      .table-box__main.float-left
        %p.color-orange.bold.font-md.mt5.mb5
          = comment.user.name
      .table-box__add.float-right
        %span.black-sm
          投稿:
        %span
          = comment.created_at
    .mt15.mb15
      %p
        = comment.body

    %img.list.list-horiz{ :src => asset_path("#{comment.image.url}") }
    - if comment.user_id == current_user.try(:id)
      =link_to restaurant_comment_path(@restaurant,comment), method: :delete do
        %p.btn.btn-type-2.float-right
          %span 口コミを削除する