#contents_area
  %h1 お店を投稿
  = form_for [@restaurant,@comment] do |f|
    #restaurant_area_upload
      %span.label 店名
      %span#restaurant_name 丸亀製麺
      = f.label :image do
        = f.file_field :image, style: "display:none;"
        = image_tag "comment/bt_photo.png", class: "fileinput-button"
    #review_area
      %span.label 投稿内容
      = f.text_area :body, placeholder: "(例)新宿で皆に長年人気のお店です！濃厚なソースにジューシーなお肉。一度食べてたら病みつきになります。前菜もいろいろなメニューが出てくるので、楽しみが広がります。最後に出てくるデザートは、このお店に来たら一度は食べておきたい一品です。"
    #score_area
      %span.label スコア
      = f.radio_button :rate, 3, {id: "bt_score_1"}
      = f.radio_button :rate, 2, {id: "bt_score_2"}
      = f.radio_button :rate, 1, {id: "bt_score_3"}
    #submit_area
      = f.label :commit do
        = f.submit " ", id: "submit_area_button"