#contents_area
  %h1 お店を投稿
  = form_for [@restaurant,@comment] do |f|
    = f.file_field :image
    = f.text_field :body, placeholder: "type a message"
    = f.hidden_field :rate
    / = f.select :body
    = f.submit "Send"