#contents_area
  #reaction_area
    #lastweek_reaction.reaction
    #weekly_reaction.reaction
  #latest_posts
    %h2
      = image_tag "ic_my_post.png"
      あなたの投稿
    .post
    %p.more
      %a
      = image_tag "ic_arrow.png"
      もっと読む
  #gone_notice
    %h2
      = image_tag "ic_notice.png"
      最近参考になった通知
    %ul
      %li 最近参考になった通知はありません
    %p.more もっと読む
  #latest_comments
    %h2
      = image_tag "ic_comment.png"
      最近のコメント
    %ul
      %li 最近のコメントはありません
    %p.more もっと読む
  #new_follower
    %h2
      新しいフォロワー
    %ul
      %li 最近のフォロワーがいません
  #ikitai_calendar
    %h2
      = current_user.name + "さんの行きたいカレンダー"
    #calendar
  = link_to '予定を追加' ,new_user_event_path(current_user)