#profile_area
  = image_tag "#{current_user.try(:image).url || "/assets/noimg_140_140.png" }", id: "my_icon"
  %h1
    = current_user.name
  %ul#follow_data
    %li
      フォロー：
      %span
        1
    %li
      フォロワー：
      %span
        2
  %p#profile_comment
  =link_to edit_user_registration_path do
    #sidebar_write_profile_button
  %ul#user_data
    %li
      %a
      = image_tag "ic_itta.png"
      行ったお店：
      %span 0
    %li
      %a
      = image_tag "ic_ikitai.png"
      行きたいお店：
      %span 0
  #mymenu
    %a
    = image_tag "bt_itta_ikitai.png"
    %a
    = image_tag "bt_edit.png"
    %a
    = image_tag "bt_draft.png"
  #retty_ranking
    %a
    = image_tag "bt_ranking.png"