#contents_area
  %h1 お店を登録する
  = form_for @restaurant do |f|
    #review_area
      %span.label 店名
      = f.text_field :name, placeholder: "(例)Retty本店"
    #review_area
      %span.label 電話番号
      = f.text_field :phonenumber, placeholder: "03-1234-5678"
    %form
      %input#address{:type => "text", :value => "東京スカイツリー"}/
      %input#button{:type => "button", :value => "地図検索"}/
    #map-canvas
    %script{src: :"./map.js"}


    #submit_area
      = f.label :commit do
        = f.submit "Send"
        %img#submit_area_button{src: :"/images/restaurant/bt_restaurant_button.jpg"}
