= render 'layouts/header'
.wrapper
  .container#_popIn_body
    #mypage_wrap.cfx
      .overview
        .overview__titlebar
          .table-box
            .table-box__main
              %h1.head_info_h1
                %span.head_info_h1_main
                  %span.head_info_name_additional
                    まるがめせいめん
                  %span.overview_name
                    = @restaurant.name
              %p.head_info_address
                %span
                  = @restaurant.try(:address)
            - if restaurant_signed_in?
              =link_to new_restaurant_introduction_path(@restaurant) do
                %p.btn.btn-type-2
                  %span 紹介文を投稿する
            / - else
            /   =link_to new_restaurant_introduction_path(@restaurant) do
            /     %p.btn.btn-type-2
            /       %span 紹介文を投稿する

            .table-box__add
              %p.overview__tel
                = @restaurant.try(:phonenumber)
        .overview__info
          .overview__info-cat
            %span
              .overview_tree
          .overview__info-cat
            %span
              .overview_tree
          .overview__info-cat
            %span
              .overview_tree
        .overview__titlebar
      .nav_bar
        %ul.nav.nav-tabs{role: :"tablist"}
          %li.active{role: :"presentation"}
            %a{"aria-controls" => "tab_a", "data-toggle" => "tab", href: :"#tab_a", role: :"tab"} 店舗トップ
          %li{role: :"presentation"}
            %a{"aria-controls" => "tab_b", "data-toggle" => "tab", href: :"#tab_b", role: :"tab"} 口コミ
          %li{role: :"presentation"}
            %a{"aria-controls" => "tab_c", "data-toggle" => "tab", href: :"#tab_c", role: :"tab"} 画像・写真
          %li{role: :"presentation"}
            %a{"aria-controls" => "tab_d", "data-toggle" => "tab", href: :"#tab_d", role: :"tab"} メニュープラン
          %li{role: :"presentation"}
            %a{"aria-controls" => "tab_e", "data-toggle" => "tab", href: :"#tab_e", role: :"tab"} 地図・アクセス
        .tab-content
          #tab_a.tab-pane.active{role: :"tabpanel"}
            = render 'introduction'
          #tab_b.tab-pane{role: :"tabpanel"}
            .section
              .heading.heading-type-2.clearfix
                %h2.heading__ttl.font-lg.bold
                  = @restaurant.name + "の口コミ"
                .heading__option.float-right
                - if user_signed_in?
                  =link_to new_restaurant_comment_path(@restaurant) do
                    %p.btn.btn-type-2
                      %span 投稿する
              = render partial: '/comments/comment', collection: @comments
          #tab_c.tab-pane{role: :"tabpanel"}
            %p
              タブC!!
          #tab_d.tab-pane{role: :"tabpanel"}
            %p
              タブDです
          #tab_e.tab-pane{role: :"tabpanel"}
            %p
              タブE!!
