= render 'layouts/header'
.wrapper
  .container#_popIn_body
    #mypage_wrap.cfx
      .overview
        .overview__titlebar
          .table-box
            .table-box__main
              %h1.head_info_h1
                %span.head_info_h1_main
                  %span.head_info_name_additional
                    = @restaurant.try(:kana)
                  %span.overview_name
                    = @restaurant.name
              %p.head_info_address
                %span
                  = @restaurant.try(:address)
            - if restaurant_signed_in?
              =link_to edit_restaurant_registration_path(@restaurant) do
                %p.btn.btn-type-2
                  %span 登録情報を編集する
            - if @restaurant.introduction.blank?
              =link_to new_restaurant_introduction_path(@restaurant) do
                %p.btn.btn-type-2
                  %span 紹介文を投稿する
            - else
              =link_to new_restaurant_introduction_path(@restaurant) do
                %p.btn.btn-type-2
                  %span 紹介文を編集する
            .table-box__add
              %p.overview__tel
                = @restaurant.try(:phonenumber)
        .overview__info
          .overview__info-cat
            %span
              .overview_tree
          .overview__info-cat
            %span
              .overview_tree
          .overview__info-cat
            %span
              .overview_tree
        .overview__titlebar
      .nav_bar
        %ul.tab
          %li.restaurant_top
            %img{src: :"/images/restaurant/home.png"}
            店舗トップ
          %li.comment_list
            %img{src: :"/images/restaurant/comment.png"}
            口コミ(#{@comments.count})
          %li.picture_list
            %img{src: :"/images/restaurant/camera.png"}
            画像・写真(#{@comments.select("image").count})
          %li.menu_list
            %img{src: :"/images/restaurant/book.png"}
            メニュープラン
          %li.access.select
            %img{src: :"/images/restaurant/map.png"}
            地図・アクセス

        %ul.content
          %li.secret
            = render 'introduction'
          %li.secret
            .heading.heading-type-2.clearfix
              %h2.heading__ttl.font-lg.bold
                = @restaurant.name + "の口コミ"
              .heading__option
              - if user_signed_in?
                =link_to new_restaurant_comment_path(@restaurant) do
                  %p.btn.btn-type-2.float-right
                    %span 投稿する
            = render partial: '/comments/comment', collection: @comments
          %li.secret
            %p
              タブC!!
          %li.secret
            %p
              タブDです
          %li
            %p
              地図だよ
            #map{:style => "width:640px; height:500px"}

%input{name: "restaurant_address", type: "hidden", value: @restaurant.address, class: 'restaurant_address' }

