.header
  .header_area
    %p.tagline 実名口コミNo.1 / お店探しはグルメなあの人から
    #logo
      = image_tag "logo2.png"
    %ul#header_link
      %li.about_retty Retty(レッティー)とは
      %li.about_retty エリア
      %li.about_retty 料理
      %li.about_retty 目的
      %li.about_retty 食材
      %li.about_retty 飲み物
      %li.about_retty 新着口コミ
      %li.about_retty まとめ
      %li.about_retty キーワード
      %li.about_retty 渋谷 個室
      %li.about_retty サイトマップ
    %span.login_header
      .notify_area
        #notifications_count
      %ul#topmenu
        - if user_signed_in?
          %li.nav_mypage
            = link_to "マイページ", user_path(current_user)
          %li.nav_wantto
            = link_to "お店を検索", search_restaurants_path
        - elsif restaurant_signed_in?
          %li.nav_mypage
            = link_to "マイページ", restaurant_path(@restaurant)
          %li.nav_wantto お店を検索
        %li.nav_message メッセージ
        %li.nav_message イベント
        %li.nav_user 人を探す
        - if user_signed_in?
          %li.nav_acount
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - elsif restaurant_signed_in?
          %li.nav_acount
            = link_to "ログアウト", destroy_restaurant_session_path, method: :delete